<%= render "components_mobile/navbar" %>

<div class="container jusytify-content-center" styl="width: 100vw">
  <div class="d-flex justify-content-center align-items-center" style="height: 100px">
    <h2 class="heading-text">Get Started!</h2>
  </div>

    <%= simple_form_for([@project]) do |f| %>
      <div class="form-imputs">

        <%= f.input :title,
                    label:"Project title",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "title", class: "input-design"} %>


        <%= f.input :status,
                    label:"Project status",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "status", class: "input-design"} %>


        <%=f.label "Start Date"%>
        <%= f.text_field :start_date, data:{ provide:'datepicker' } %>
        <hr>

        <%=f.label "end Date"%>
        <%= f.text_field :end_date, data:{ provide:'datepicker' } %>
        <hr>

        <%= f.text_area :description, cols: 30, rows: 5, class: "input-design", style:"margin: 0 auto;" %>
        <div class="form-actions d-flex justify-content-center">
          <%= f.button :submit, "Update project", class: "btn-main-dark mt-2" %>
        </div>

      </div>
    <% end %>
  </div>
</div>
